<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Team3.LTEMaster.Mapper.TeacherMapper">
	<resultMap type="Teacher" id="teacherResultMap">
		<result property="teacherId" 		column="teacherId"/>
		<result property="teacherName" 		column="teacherName"/>
		<result property="contractType" 	column="contractType"/>
		<result property="hourlyRate" 		column="hourlyRate"/>
	</resultMap>
	
	<select id="getTeacherList" resultMap="teacherResultMap" parameterType="String">
		SELECT
			teacherId
			,teacherName
			,contractType
			,hourlyRate
		FROM
			teacher;
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="teacherId!=null">
				teacherId = #{teacherId}
			</if>			
		</trim>	
	</select>
	
	
	<select id="getTeacherInfoById" resultMap="teacherResultMap" parameterType="String" resultType="Teacher">
		SELECT
			teacherId
			,teacherName
			,contractType
			,hourlyRate
		FROM
			teacher
		WHERE 
			teacherId=#{teacherId};
	</select>
	
	
</mapper>